# coding: utf-8
import logging.config
import logging
import datetime

# シボレス認証
shibboleth_user = "学生ID"
shibboleth_pass = "パスワード"

# MySQL
mysql_user = "root"
mysql_pass = "パスワード"
mysql_host = "IPアドレス or localhost"
DBname = "kyukou"

# twitter
CK = "Consumer Key"
CS = "Consumer Secret"
AT = "Access Token"
AS = "Access Secret"
tw_id = "twitterのID"

# config
logging.config.fileConfig('./log/log.conf')
log = logging.getLogger('getlog')

# URL
urls = ["?c=lecture_information", "?c=lecture_cancellation", "?c=news"]

# 現在時刻
now = datetime.datetime.now()